.above-header {
    margin-top: 9%;
    width: 40%;
    background-color: #ffb703;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 30px;
}


.saiba-mais {
    border: 1px solid transparent;
    outline: none;
    background-color: #8ecae6;
    color: white;
    padding: .8em;
    font-size: 1.4em;
    transition: .6s;
    border-radius: 8px;
}

.saiba-mais:hover {
    background-color: #219ebc;
}

/*SECTION 1*/

.section1 {
    background: #8ecae6;
    margin-top: 6%;
    height: 100%;
}

.section-text {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 1em;
}

/*Cards*/

.imagem-card {
    height: 150px;
    width: 150px;
}

.card-white {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
    background-color: #FFF;
    color: #023047;
}

.card-black {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
    background-color: #023047;
    color: #FFF;
}

.card-text {
    margin-left: 1em;
}

/*CONTATO*/

.contato {
    background-color: #ffb703;
    color: #023047;
    margin: 0;
    padding: 0;
}

.h1-contato{
    border-bottom: 4px solid #219ebc;
}

.input-form {
    outline: none;
    border: 2px solid transparent;
    padding: 1%;
    border-radius: 2px;
    font-weight: bold;
    transition: .5s;
}

.input-form:focus {
    border: 2px solid #219ebc;
    color: #023047;
}

.button-form {
    padding: 1%;
    outline: none;
    border: 2px solid transparent;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 2px;
    background-color: #219ebc;
    color: white;
    transition: .5s;
}

.button-form:hover {
    background-color: #023047;
    border: 2px solid white;
}






