.above-header {
    margin-top: 9%;
    width: 40%;
    background-color: #ffb703;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 30px;
}


.saiba-mais {
    border: 1px solid transparent;
    outline: none;
    background-color: #8ecae6;
    color: white;
    padding: .8em;
    font-size: 1.4em;
    transition: .6s;
    border-radius: 8px;
}

.saiba-mais:hover {
    background-color: #219ebc;
}

/*SECTION 1*/

.section1 {
    background: #8ecae6;
    margin-top: 6%;
    height: 100%;
}

.section-text {
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 1em;
}

/*Cards*/

.imagem-card {
    height: 150px;
    width: 150px;
}

.card-white {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
    background-color: #FFF;
    color: #023047;
}

.card-black {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
    background-color: #023047;
    color: #FFF;
}

.card-text {
    margin-left: 1em;
}

/*CONTATO*/

.contato {
    background-color: #ffb703;
    color: #023047;
    margin: 0;
    padding: 0;
}

.h1-contato{
    border-bottom: 4px solid #219ebc;
}

.input-form {
    outline: none;
    border: 2px solid transparent;
    padding: 1%;
    border-radius: 2px;
    font-weight: bold;
    transition: .5s;
}

.input-form:focus {
    border: 2px solid #219ebc;
    color: #023047;
}

.button-form {
    padding: 1%;
    outline: none;
    border: 2px solid transparent;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 2px;
    background-color: #219ebc;
    color: white;
    transition: .5s;
}

.button-form:hover {
    background-color: #023047;
    border: 2px solid white;
}

.contatos-about-h3 {
    color: #219ebc;
}


@media (max-width: 1024px) {
    
    .above-header {
        width: 50%;
        margin-top: 12%;
    }

    .sobre-silvio {
        flex-flow: column nowrap !important;
    }

    .about-silvio {
        text-align: center;
    }

    .contato {
        flex-flow: column nowrap !important;
    }

}

@media (max-width: 768px) {
    .above-header {
        margin-top: 18%;
        font-size: .8em;
    }

    .clientes {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }
}

@media(max-width: 425px) {
    .above-header h4 {
        font-size: 1.6em;
    }

    .above-header {
        width: 70%;
        margin-top: 40%;
    }

    .section-text {
        font-size: .8em !important;
        width: 90% !important;
    }

    .img-silvio {
        height: 330px !important;
        width: 310px !important;
    }

    .card-black, .card-white {
        flex-flow: column nowrap !important;
        text-align: center;
    }

    .imagem-card {
        width: 100%;
        height: auto;
        padding: 0 !important;
        margin: 0 !important;
        align-self: center !important;
    }

    .card-text {
        margin: 0 !important;
    }

    .client-img {
        width: 50% !important;
        height: auto !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .card-text {
        width: 80%;
    }

    .input-form {
        width: 100% !important;
        font-size: .8em;
        padding: 1em !important;
    }

    .button-form {
        width: 80% !important;
        font: .8em;
    }
}

@media (max-width: 360px) {
    .above-header {
        margin-top: 50%;
    }
}





